html {
  font-size: clamp(18px, 2vw, 20px); /* min, preferred, max */
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #1f4250;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::before {
  background-image: url("/src/assets/joe-woods-4Zaq5xY5M_c-unsplash-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  content: ""; /* Essential for ::before to be rendered */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  opacity: 0.6;
  z-index: -1;
}

/* 
    In conjunction with main { flex: 1 }, keeps footer at bottom
    even when content does not fill page
*/
#body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #29536a;
  color: white;
  width: 100%;
  padding: 15px clamp(20px, 4vw, 30px) 20px;
}

main {
  flex: 1;
}

.main-content {
  padding: 10px clamp(20px, 4vw, 30px) 20px;
}
/*
strong {
  font-weight: 700;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit; /*"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
  text-transform: uppercase;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 12px 0 0;
}

h1 {
  color: #e8751a;
  font-size: 1.4rem;
  font-weight: 700;
}

h2 {
  color: #1e1e1e;
  background-color: #e8751a;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 6px;
  width: auto;
  border-radius: 2px;
  padding: 5px 8px;
  margin: 20px 0;
}

h3 {
  color: #1f4250;
  font-size: 1.1rem;
  font-weight: 700;
}

h4 {
  color: #e8751a;
  font-size: 1.1rem;
}

h5 {
  color: #e8751a;
  font-weight: 700;
  font-size: 1.1rem;
}

h6 {
  color: #1f4250;
  font-weight: 600;
  font-size: 1rem;
}

p {
  margin: 6px 0;
}

a,
.link-like {
  font-family: inherit;
  color: #e8751a;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: #cc5f00;
}

iframe {
  height: 450px;
  width: calc(100% - 4px); /* subtract border */
  margin: 20px 0;
  border: 2px solid #1f4250;
}

/* media queries */
/* 768-1023 */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px clamp(20px, 4vw, 30px);
  }
}
/* 1023+ */
@media screen and (min-width: 1024px) {
  header {
    padding: 20px clamp(30px, 4vw, 40px);
  }
}
