html {
    font-size: clamp(18px, 2vw, 20px); /* min, preferred, max */
    height: 100vh;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* 
    NOTE: For responsive design, if you define the font-size range 
    with clamp() on the html selector as shown above, all other elements 
    where you want the sizes to adjust similarly can be defined in terms
    of rem (root em) and will be based on the html selector's value range.

    Learn more here: https://clampcalculator.com/
*/

body {
    background-color: white;
    color: #1e323c;
    font-family: 'Assistant', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::before {
    /* Photo credit: https://www.pexels.com/@gdtography-277628/ */
    background-image: url('https://i.ibb.co/TD6fmXWK/white-installation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    content: ''; /* Essential for ::before to be rendered */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}

/* 
    In conjunction with main { flex: 1 }, keeps footer at bottom
    even when content does not fill page
*/
#body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e323c;
    color: white;
    width: 100%;
    padding: 15px clamp(20px, 4vw, 30px) 20px;
}

main {
    flex: 1;
}

.main-content {
    padding: 10px clamp(20px, 4vw, 30px) 20px;
}

strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4 {
    font-family: 'Kodchasan', sans-serif;
    text-transform: uppercase;
}

h1,
h3,
h4,
h5,
h6 {
    margin: 12px 0 0;
}

h1 {
    color: #c66311;
    font-size: 1.4rem;
    font-weight: 700;
}

h2 {
    color: white;
    background-color: #c66311;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 6px;
    width: auto;
    border-radius: 2px;
    padding: 5px 8px;
    margin: 20px 0;
}

h3 {
    color: #1e323c;
    font-size: 1.1rem;
    font-weight: 700;
}

h4 {
    color: #c66311;
    font-size: 1.1rem;
}

h5 {
    color: #c66311;
    font-weight: 700;
    font-size: 1.1rem;
}

h6 {
    color: #1e323c;
    font-weight: 600;
    font-size: 1rem;
}

p {
    margin: 6px 0;
}

a,
.link-like {
    color: #c66311;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:active {
    color: #b95a0a;
}

iframe {
    height: 450px;
    width: calc(100% - 4px); /* subtract border */
    margin: 20px 0;
    border: 2px solid #1e323c;
}

/** MEDIA QUERIES **/

/* 380-479 */
@media screen and (min-width: 380px) {
    /* No changes needed in this range */
}

/* 480-767 */
@media screen and (min-width: 480px) {
    /* No changes needed in this range */
}

/* 768-1024 */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px clamp(20px, 4vw, 30px);
    }
}

/* 1024-1365 */
@media screen and (min-width: 1024px) {
    /* No changes needed in this range */
}

/* 1200-1365 */
@media screen and (min-width: 1200px) {
    /* No changes needed in this range */
}

/* 1366+ */
@media screen and (min-width: 1366px) {
    /* No changes needed in this range */
}
