.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.about-content {
  flex: 1;
}

.aboutpage-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 8px;
}
