.homepage-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img"
    "main"
    "sidebar";
  gap: 1rem;
  align-items: start;
}

.homepage-ul {
  list-style: none;
  padding: 0.1rem;
}

.homepage-ul li {
  margin-bottom: 0.2rem;
}

.homepage-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  align-self: start;
  padding: 10px 1rem;
}

.homepage-img {
  grid-area: img;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* media queries */
@media (min-width: 700px) {
  .homepage-div {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "img img"
      "main sidebar";
  }
}

@media (min-width: 1024px) {
  .homepage-div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "img img img"
      "main main sidebar";
  }
}

/* start flip card CSS */
.flip-card {
  width: 90%;
  max-width: 240px;
  height: 360px;
  perspective: 1200px;
  margin: 20px auto;
  border-radius: 12px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  position: relative;
}

.flip-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card-front {
  background-color: aliceblue;
  color: #1e323c;

  background-color: #e6f7ff;
  color: #083442;
  color: #1f4250;
}

.card-back {
  background-color: #c7eaff;
  color: #1e323c;
  background-color: #34b5ff;
  color: white;
  transform: rotateY(180deg);
}

.flip-img {
  width: 100%;
  height: auto;
  max-height: 65%;
  object-fit: cover;

  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: clamp(1rem, 2vw, 1.3rem);
  text-align: center;
  margin: 0;
}
/* end flip card CSS */
