.homepage-div
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "img img img"
        "main main sidebar";
    margin: 0;
    gap: 0.5rem;    
}

.homepage-ul
{
    list-style: none;
    padding: 0.1rem;
    
    
}

.homepage-main
{
    grid-area: main;
}

.homepage-sidebar
{
    grid-area: sidebar;
    background: #D3D4D7;
}

.homepage-img
{
    grid-area: img;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
/*
.homepage-article
{
    border: 1px solid currentColor;

    margin: 0.5rem;
}
    */
@media only screen and (max-width: 550px) {
    .homepage-div {
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "main"
            "sidebar"

    }    
}