#bt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
}

.link:link,
.link:visited {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
}

.link:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}