
button {
    color: white;
    background-color: #1e323c;
    background-color: #4a90e2;
    font-family: 'Assistant', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px;
    outline: none;
    border: 2px solid #1e323c;
    border: 2px solid #4a90e2;
    border-radius: 4px;
    cursor: pointer;
}

button:hover 
{
  color: #4a90e2;
  background-color: white;
}

.card {
    display: inline-block;
    vertical-align: top;
    color: #1e323c;
    background-color: aliceblue;
    width: 100%;
    margin-bottom: 15px; /* matches column-gap of container */
    
    padding: 12px;
    border: 1px solid currentColor;
   /* padding: 0.5rem;*/
    border-radius: 6px;
    filter: drop-shadow(0px 2px 2px rgba(30, 50, 60, 0.3));

}

.clickable-card {
    transition: filter 0.3s ease-in-out;
}

.clickable-card:hover {
    filter: drop-shadow(0px 5px 5px rgba(30, 50, 60, 0.5));
    cursor: pointer;
}

.icon {
    margin-top: 4px;
}

.icon-with-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}

#spinner-icon {
    display: block;
    color: #c66311;
    margin: 0;
}

/* No media queries needed for these elements */